@import "../styles/variables.scss";

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  h2 {
    font-size: $subtitle-size;
    margin: 10px;
  }

  div.boletim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(
      to bottom,
      $primary-color 80%,
      $primary-dark-color
    );
    width: 100%;
    padding: 10px;

    .boletim_info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      max-width: 900px;
      padding: 10px;

      h1 {
        font-size: $title-size;
        margin: 10px;
      }

      .boletim_topic {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: $title-size;
        width: 100%;
        max-width: 400px;
      }

      .boletim_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 400px;
        .content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          text-indent: 20px;
          text-align: justify;
          font-size: $p-size;
          line-height: 1.4;
          width: 100%;
        }

        small {
          font-size: $small-size;
          text-decoration: underline;
        }
      }
    }
  }

  .home_location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    min-height: 400px;

    .location_info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      max-width: 340px;
      height: 100%;

      h1 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $title-size;
        padding: 10px;
      }

      p {
        font-size: $p-size;
      }
    }

    .location_map {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 100%;
      padding: 10px;

      iframe {
        width: 100vw;
        max-width: 380px;
        height: 100vh;
        max-height: 380px;
        border-radius: 8px;
      }
    }
  }

  .home_contribua {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background-image: linear-gradient(
      to bottom,
      $primary-color 80%,
      $primary-dark-color
    );
    width: 100%;
    min-height: 300px;
    margin-bottom: 20px;
    padding: 20px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      color: white;
      font-size: calc($title-size + 10px);
      max-width: 300px;

      h2 {
        text-align: center;
        font-size: $subtitle-size;
      }
    }

    article {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 300px;

      button {
        background-color: transparent;
        color: white;
        font-size: $p-size;
        width: 60%;
        padding: 16px;
        border-radius: 16px;
        border: 2px solid white;
        transition: 0.4s;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .weekly_activities {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    margin-bottom: 20px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      max-width: 800px;
      height: 100%;

      h1 {
        font-size: $title-size;
        text-align: center;
        width: 100%;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        font-size: $p-size;
        text-align: center;
        max-width: fit-content;
        padding: 10px;

        b {
          text-decoration: underline;
        }
      }
    }
  }
}

// @media screen and (max-width: 700px) {
//   @import "../styles/variables.scss";

//   .home {
//     .home_location {
//       gap: 20px;
//       flex-direction: column;

//       .location_info {
//         width: 100%;
//       }

//       .location_map {
//         width: 100%;
//       }
//     }

//     .home_contribua {
//       .home_content_contribua {
//         flex-direction: column;
//         gap: 20px;

//         div {
//           width: 100%;
//         }

//         article {
//           width: 100%;
//         }
//       }
//     }
//   }
// }
