@import "../styles/variables.scss";

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  h2 {
    font-size: $subtitle-size;
    margin: 10px;
  }

  div.boletim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(
      to bottom,
      $primary-color 80%,
      $primary-dark-color
    );
    width: 100%;
    padding: 10px;

    .boletim_info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 900px;
      padding: 10px;

      h1 {
        font-size: $title-size;
        margin: 10px;

        &.boletim_topic {
          text-align: left;
          color: white;
          font-size: calc($title-size + 10px);
          width: 100%;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-indent: 20px;
        text-align: justify;
        font-size: $p-size;
        line-height: 1.4;
      }

      small {
        text-align: left;
        color: white;
        font-size: $small-size;
        width: 100%;
      }
    }
  }

  .home_location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    min-height: 400px;

    .location_info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      width: 50%;
      height: 100%;

      h1 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $title-size;
        padding: 10px;
      }

      p {
        font-size: $p-size;
      }
    }

    .location_map {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      padding: 10px;

      iframe {
        width: 100vw;
        max-width: 380px;
        height: 100vh;
        max-height: 380px;
        border-radius: 8px;
      }
    }
  }

  .home_contribua {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      to bottom,
      $primary-color 80%,
      $primary-dark-color
    );
    width: 100%;
    min-height: 300px;
    margin-bottom: 20px;

    .home_content_contribua {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 900px;
      padding: 10px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        color: white;
        font-size: calc($title-size + 10px);
        width: 50%;

        h2 {
          text-align: center;
          font-size: $subtitle-size;
        }
      }

      article {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;

        button {
          background-color: transparent;
          color: white;
          font-size: $p-size;
          width: 60%;
          padding: 16px;
          border-radius: 16px;
          border: 2px solid white;
          transition: 0.4s;
          cursor: pointer;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
