$primary-color: #065799;
$primary-dark-color: #070874;

$gray: #7a8b97;

$green: rgb(0, 199, 0);
$light-green: rgb(0, 232, 0);

$red: rgb(233, 0, 0);
$light-red: rgb(255, 39, 39);

$title-size: 40px;
$subtitle-size: 30px;

$p-size: 20px;

$big-size: 24px;
$small-size: 16px;
