@import "../../../../styles/variables.scss";

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: $subtitle-size;
  color: white;
  width: 100%;
  max-width: 600px;

  .menu_nav_links {
    display: none;
  }

  .burguer {
    cursor: pointer;
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $subtitle-size;
    color: white;
    width: 100%;
    max-width: none;

    .menu_nav_links {
      display: flex;
      flex-direction: row;
    }

    .burguer {
      display: none;
    }
  }

  .menu_side_bar {
    display: none;
  }
}
