@import "../../../styles/variables.scss";

footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: $primary-color;
  width: 100%;
  min-height: 300px;
  height: auto;
  padding: 20px;
  border-bottom: 1px solid $primary-dark-color;

  .location {
    text-align: center;

    h3 {
      font-size: $subtitle-size;
    }

    p {
      color: black;
      font-weight: bold;
      font-size: calc($p-size - 2px);
    }
  }

  .contact {
    text-align: center;

    h3 {
      font-size: $subtitle-size;
    }

    p {
      width: 100%;
      color: black;
      font-weight: bold;
      font-size: calc($p-size - 2px);

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        div {
          background-color: black;
          width: 100px;
          height: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  footer {
    p {
      font-size: calc($small-size - 4px);
    }
  }
}
