@import "../../../styles/variables.scss";

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: $big-size;
  padding: 8px;
  transition: 0.4s;
  cursor: pointer;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: $big-size;

    &.not_logged {
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $big-size;
        padding-right: 10px;
        border-right: 1px solid white;
      }

      p {
        font-size: $p-size;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.logged {
      h2 {
        font-size: $big-size;
        padding-right: 10px;
        border-right: 1px solid white;
      }

      p {
        font-size: $p-size;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
