@import "../../styles/variables.scss";

.boletins {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  h1 {
    font-size: $title-size;
    text-align: center;
    margin-bottom: 20px;
  }
}
