@import "../../../styles/variables.scss";

.message {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  width: 80%;
  max-width: 800px;
  height: 60px;
  padding: 12px;
  border-radius: 8px;

  animation: message_animation 6s linear;

  &.success {
    background-color: $green;

    div {
      background-color: $light-green;
    }
  }

  &.error {
    background-color: $red;

    div {
      background-color: $light-red;
    }
  }

  p {
    width: 100%;
    color: white;
    font-size: $p-size;
  }

  div {
    align-self: right;
    height: 4px;
    border-radius: 2px;
    animation: timer 6s linear;
  }
}

@keyframes message_animation {
  0% {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-100%);
  }
}

@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
