.admin_warnings {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1300px;
  gap: 10px;

  button {
    width: 90%;
  }

  h1 {
    text-align: center;
  }

  .warning_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;

    .warning_modify_card {
      display: flex;
      flex-wrap: wrap;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
