@import "../../../../styles/variables.scss";

.culto_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  max-height: 150px;
  height: fit-content;
  margin: 14px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $primary-dark-color;
    border-color: $primary-dark-color;
  }

  article {
    padding: 10px;
  }

  h3 {
    font-size: $big-size;
  }
}
